body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #474e5d;
}

input{
  background-color: #ddd;
  outline: none;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 18px;
  width: 350px;
  height: 25px;
}

label{
  margin-left: 18px;
  font-weight: bolder;
}

.container{
  background-color: whitesmoke;
  display: block;
  margin: auto;
  width:440px;
  height: 500px;
  border: 2px solid black;
  border-radius: 4px;
}

#sub{
  background-color: #3367f7;
  color: whitesmoke;
  border-radius: 5px;
  height: 24px;
  margin-left: 310px;
  margin-top: 15px;  
}

h2{
  color: White;
  text-align: center;
}

div{
  padding-top: 10px;
}

#logIn{
  background-color: #3367f7;
  color: whitesmoke;
  border-radius: 5px;
  height: 24px;
  margin-top: 40px;
  margin-left: 300px;
  width: 60px;
}

.block{
  background-color: whitesmoke;
  display: block;
  margin: auto;
  margin-top: 60px;
  width:440px;
  height: 270px;
  border: 2px solid black;
  border-radius: 4px;
}